.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 0;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #c7cfd4;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.foto {
  overflow: hidden;
  display: block;
  align-items: center;
  max-width: 90%;
  height: auto;
  /* object-fit: cover; */
  border-radius: 10px;
}

.info {
  padding: 10px 10px;
  text-align: center;
  word-break: break-all;
}

/*.list {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content; */
/*list-style: none;
  display: flex;
  gap: 20px;
  align-items: first baseline;
  flex-wrap: wrap;
  justify-content: space-around;
  @media screen and (min-width: 1199px) {
    gap: 10px;
  }
}
.item {
  padding-top: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 11px 8px 26px -9px rgba(0, 0, 0, 0.82);
  transition: all 0.3s;
}
.foto {
  overflow: hidden;
  display: block;
  max-width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  @media screen and (max-width: 480px) {
    width: 90%;
  }
}

.info {
  padding: 10px 10px;
  text-align: center;
  word-break: break-all;
}
 */
