nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #8d2222e1;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: #8d2222e1;
  background-color: #fff;
  outline: 2px solid #8d2222e1;
  font-weight: 500;
  font-size: 18px;
}

.active {
  composes: link;
  background-color: #8d2222e1;
  color: #fff;
}
